* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Geist", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.routes__container {
  width: 100%;
  padding: 32px 16px;
  max-width: 1280px;
  margin: 0 auto;
}
.routes__container--navbar {
  background: #ffffff;
  /* border-bottom: 1px solid #cacaca86; */
}

.navbar__container {
  width: 100%;
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  max-width: 1280px;
  margin: 0 auto;
}
.logo {
  text-decoration: none;
  color: #000;
  font-weight: 800;
  font-size: 20px;
}
.nav {
  display: flex;
  gap: 12px;
  padding: 0 16px;
}
.navbar__right {
  display: flex;
  align-items: center;
  gap: 20px;
}
.search__icon {
  cursor: pointer;
}
.navlink {
  text-decoration: none;
  color: #747474;
  font-weight: 500;
  font-size: 14px;
  text-transform: capitalize;
}
.link__active {
  color: #2e2e2e;
}
.btn__auth {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 6px 10px;
  font-weight: 500;
  font-size: 14px;
  background: transparent;
  border: 1px solid #cacaca;
  border-radius: 4px;
  gap: 8px;
  color: #2e2e2e;
  cursor: pointer;
  transition: background 0.1s ease-in-out;
}
.btn__auth:hover {
  background: #f1f1f1;
}

.text-logout {
  display: none;
}

.page__login {
  width: 100%;
  height: 100vh;
  height: 100dvh;
  display: grid;
  place-content: center;
}
.hero__list {
  width: 100%;
  display: grid;
  gap: 24px 32px;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.results__heroes {
  width: 100%;
  display: grid;
  gap: 24px 32px;
  padding: 32px 0;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  justify-items: center;

  & .card__heroe {
    max-width: 400px;
  }
}

.notfound__hero {
  text-align: center;
  padding: 32px 0;
}

.card__heroe {
  width: 100%;
  border: 1px solid #cacaca;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  height: fit-content;
  text-decoration: none;
  display: flex;
  flex-direction: column;

  & span {
    position: absolute;
    top: 10px;
    right: 8px;
    background: #fff;
    padding: 4px 6px;
    border: 1px solid #cacaca;
    border-radius: 16px;
    font-size: 12px;
    color: #2e2e2e;
  }
  & small {
    position: absolute;
    top: 10px;
    left: 8px;
    background: #fff;
    padding: 4px 6px;
    border: 1px solid #cacaca;
    border-radius: 16px;
    font-size: 12px;
    color: #2e2e2e;
  }
  & img {
    width: 100%;
  }
}

.card__heroe--info {
  padding: 16px 12px;
  display: flex;
  background-color: #fff;
  flex-direction: column;
  gap: 6px;
  z-index: 1000;

  & h2 {
    font-size: 18px;
    color: #2e2e2e;
  }

  & p {
    font-size: 14px;
    color: #747474;
  }
}

.navlink__hero {
  text-decoration: none;
  color: #2e2e2e;
  text-decoration: underline;
  font-size: 15px;
  font-weight: 500;
}

.heroe__page {
  width: 100%;
  height: 100%;
}

.heroe__containe--screen {
  width: 100%;
  height: 100%;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;
}

.heroe__container--img {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: start;
  align-self: flex-start;
  overflow: hidden;

  & img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    max-height: 500px;
  }
}

.heroe__container--info {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 12px;

  & h2 {
    color: #2e2e2e;
  }

  & p {
    color: #747474;
  }
}

.input__search--container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.label__form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  color: #2e2e2e;
  font-size: 16px;
}

.input__search {
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 15px;
  border: 1px solid #cacaca;
  outline: none;
  color: #747474;
}

@media (width > 600px) {
  .heroe__containe--screen {
    width: 100%;
    height: 100%;
    display: grid;
    gap: 40px;
    grid-template-columns: 1fr 1fr;
  }

  .heroe__container--info {
    text-align: start;
  }

  .text-logout {
    display: block;
  }
}
@media (width > 1000px) {
  .heroe__container--img {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: start;
    align-self: flex-start;
    overflow: hidden;

    & img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      max-height: 650px;
    }
  }
}
