* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Geist", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.navbar__container {
  width: 100%;
  height: 54px;
  background: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  max-width: 1280px;
  margin: 0 auto;
}
.logo {
  text-decoration: none;
  color: #000;
  font-weight: 800;
  font-size: 20px;
}
.nav {
  display: flex;
  gap: 12px;
  padding: 0 16px;
}
.navlink {
  text-decoration: none;
  color: #747474;
  font-weight: 500;
  font-size: 14px;
  text-transform: capitalize;
}
.link__active {
  color: #2e2e2e;
}
.btn__login {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 6px 10px;
  font-weight: 500;
  font-size: 14px;
  background: transparent;
  border: 1px solid #cacaca;
  border-radius: 4px;
  gap: 8px;
  color: #2e2e2e;
  cursor: pointer;
  transition: background 0.1s ease-in-out;
}
.btn__login:hover {
  background: #f1f1f1;
}
